<nav>
    <div><a href="/">Boats</a></div>
    <ul>
        <li><a href="/boats">Boats</a></li>
        <li><a href="/loads">Loads</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>